body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.chat-container {
    max-width: 800px;
    margin: 20px auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.message {
    max-width: 70%;
    margin: 8px;
    padding: 10px;
    border-radius: 8px;
}

.received {
    background-color: #ffffff;
    align-self: flex-start;
}

.sent {
    background-color: #add8e6;
    align-self: flex-end;
}


.input-container {
    margin-top: 10px;
}

#reply-form {
    display: flex;
    gap: 10px;
}

#reply-input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}